{# roles/project_backup/templates/vars_section.yml.j2 #}
{# SPDX-License-Identifier: MIT-0 #}

{%- macro is_secret_key(k) -%}
{%- set kstr = (k | string) -%}
{%- if kstr in _pb_secret_exact -%}
true
{%- else -%}
{%- set hit = false -%}
{%- for pat in _pb_secret_regex -%}
{%- if kstr is match(pat) -%}{%- set hit = true -%}{%- endif -%}
{%- endfor -%}
{{ hit }}
{%- endif -%}
{%- endmacro -%}

{%- macro vault_var(path, key) -%}
{%- set p = (path | regex_replace('[^a-zA-Z0-9]+', '_') | lower) -%}
{%- set k = (key  | regex_replace('[^a-zA-Z0-9]+', '_') | lower) -%}
{%- if p | length == 0 -%}
{{ _pb_vault_prefix }}_{{ k }}
{%- else -%}
{{ _pb_vault_prefix }}_{{ p }}_{{ k }}
{%- endif -%}
{%- endmacro -%}

{%- macro scrub(obj, path) -%}
{%- if not _pb_scrub -%}
{{ obj }}
{%- else -%}
{%- if obj is mapping -%}
{%- set out = {} -%}
{%- for kk, vv in obj.items() -%}
{%- if (is_secret_key(kk) | trim) == 'true' -%}
{%- set _ = out.update({ kk: ('{{ ' ~ vault_var(path, kk) ~ ' }}') }) -%}
{%- else -%}
{%- set next_path = (path ~ '_' ~ (kk | string)) if (path | length > 0) else (kk | string) -%}
{%- set _ = out.update({ kk: scrub(vv, next_path) }) -%}
{%- endif -%}
{%- endfor -%}
{{ out }}
{%- elif obj is sequence and (obj is not string) -%}
{%- set out = [] -%}
{%- for i in range(0, obj | length) -%}
{%- set _ = out.append(scrub(obj[i], path ~ '_' ~ i)) -%}
{%- endfor -%}
{{ out }}
{%- else -%}
{{ obj }}
{%- endif -%}
{%- endif -%}
{%- endmacro -%}

{{ { (_pb_root_key): { (_pb_section_key): scrub(_pb_data, _pb_root_key ~ '_' ~ _pb_section_key) } } | to_nice_yaml(indent=2, width=9999) }}
